@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html,
body {
  position: relative;
  padding: 0;
  margin: 0;

  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  z-index: -10000000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0 auto;
  width: min(100%, 500px);
}

audio {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000;
}

.top-bar {
  z-index: 1000;
  position: sticky;
  top: 0px;
  font-family: Lobster;
  font-size: 300%;
  margin: 3vw 0;
  /*  height: 7vh; */
  background: black;
  display: flex;
  align-items: center;

  .angle {
    font-size: 30px;
    margin: 0 10px;
  }
}

.placeHolder {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  /*   height: 500px; */
}

.post:first-of-type {
  margin: 0 auto;
}
.post {
  display: block;
  position: relative;
  background-color: transparent;

  margin: 30px auto;
  /*   border: lightgrey 1px solid; */
  border-radius: 1em;

  .cache {
    /* display: none; */
    top: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .post-title {
    display: flex;
    /* padding: 1em; */
    justify-content: space-between;
    align-items: center;
    /*  height: 30px; */
    margin: 10px 0px;

    .dots {
      /* width: 100%; */
      /*    height: 100%; */
      margin-right: 5px;
      color: white;
    }
    .name {
      display: flex;
      align-items: center;
      /* width: 100%; */
      /*  height: 100%; */
      grid-template-columns: auto 1fr;

      .profile-picture {
        aspect-ratio: 1;
        height: auto;
        width: 28px;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          /* display: none; */
        }
      }
    }
  }

  .buttons {
    height: 25px;
    margin: 10px 0.5em;
    .icons {
      margin: 0px 10px;
      height: 100%;
    }
    .icons:first-of-type {
      margin-left: 0;
    }
  }

  .video {
    position: relative;
    width: 100%;
    z-index: -4;
  }

  .desc {
    padding: 0.2vh 0.5em;
    /*   display: block; */
    position: relative;
    text-align: justify;
    width: 100%;
    font-weight: 300;
    font-size: 15px;

    .descName {
      margin-right: 5px;
      display: inline;
      font-weight: 400;
    }
  }
}

.controls {
  z-index: 10000;
  /*   display: none; */
  position: fixed;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
